<!-- THIS IS THE ONE -->
{% capture body %}
  <article class="post">
    {% if meta.lead_image.value != blank %}
      <figure class="post-lead-image image">
        <img src="{{ meta.lead_image }}">
      </figure>
    {% endif %}

    <h1 class="post-title">{{title}}</h1>

    <time class="post-time" pubdate datetime="{{ post.date }}">
      {{ post.date | date: "%a, %b, %d, %Y" }}
    </time>
    
    {{body}}

    {% if meta.lead_caption.value != blank %}
      <figcaption class="post-lead-caption">
        Image source: <br>
        <i>{{ meta.lead_caption }}</i>
      </figcaption>
    {% endif %}
  </article>

  </br>
  </br>  
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'ageneralist'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endcapture %}

{% include 'layouts/default' %}
