{% capture body %}
  {% for post in posts %}
    <article class="post">
      {% if post.meta.lead_image != blank %}
      <figure class="post-lead-image image">
        <a href="{{ post.url }}">
          <img src="{{ post.meta.lead_image }}">
        </a>
      </figure>
      {% endif %}
      <h1 class="post-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h1>
      <time class="post-time" pubdate datetime="{{ post.date }}">
        {{ post.date | date: "%a, %b, %d, %Y" }}
      </time>
      {{ post.body }}
      <div class="comment-link">
        <a href="{{ post.url }}#disqus_thread">
          <span>Comments?</span>
        </a>
      </div>
    </article>

<!--     <a href="{{ post.url }}#disqus_thread"><h3>Comments?</h3></a> -->
<!--   </br>
  </br>  
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'ageneralist'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> -->
    

    {% if post != posts.last %}
    <hr class="post-sep">
    {% endif %}
  {% endfor %}
{% endcapture %}

{% include 'layouts/default' %}
