{% capture body %}
  <!-- {% assign indexref = 5 %} -->
  {% for post in posts | limit:1 %}

    <article class="post">
      {% if post.meta.lead_image != blank %}
      <figure class="post-lead-image image">
        <a href="{{ post.url }}">
          <img src="{{ post.meta.lead_image }}">
        </a>
      </figure>
      {% endif %}
      <h1 class="post-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h1>
      <time class="post-time" pubdate datetime="{{ post.date }}">
        {{ post.date | date: "%a, %b, %d, %Y" }}
      </time>
      {{ post.body }}
      <div class="comment-link">
        <a href="{{ post.url }}#disqus_thread">
          <span>Comments?</span>
        </a>
      </div>
    </article>

    <!-- <span>{{ post.meta }}</span> -->

    {% if post != posts.last %}
    <hr class="post-sep">
    {% endif %}

  {% endfor %}

    <!-- <div class="recent-posts-outer"> -->
  <div class="recent-posts-outer">
    <h2>
      Recent Posts
    </h2>
    
  </div>
  <ul class="recent-posts-outer">
<!--     <h2>
      Recent Posts
    </h2> -->

    {% for post in posts | offset:1 %}
      <li class="block">
        <article class="post-tile-outer">
          <div class="post-tile-image" style="background-image:url( {{ post.assets.first }} ); background-position:{{ post.meta['background_position'] }}" alt="{{ post.title | escape }}">
          </div>
          <div class="post-tile-text">
            <h3 class="post-tile-title">
              <a href="{{ post.url }}" target="_blank">
                {{ post.title }}
              </a>  
            </h3>
            <p class="post-snippet">
              Vestibulum fermentum imperdiet volutpat. Aenean eu nisl nunc. Etiam in tortor sed orci ullamcorper sollicitudin non non leo. Maecenas ultricies.
            </p>
          </div>
        </article>

      </li>
    {% endfor %}
  </ul>
    <!-- </div> -->
{% endcapture %}

{% include 'layouts/default' %}
