/* FOOTER ------------------------------------------------------------------------------*/
footer{
	border-top: 1px solid gainsboro;
	color: $medium-gray;
	padding: 2em 0 1em 0;
	background: #F9F9F9;
	text-align: center;	
}
.footer-image{
	max-width: 128px;
	max-height: 128px;
	margin: 0 auto 1em auto;
}
.copyright{
	color: $medium-gray;
	text-align: center;
	font-size: 0.8em;
	// Should this be tagged with <author>?
}