/* HEADER ------------------------------------------------------------------------------*/

.site-header{
  position: fixed;
  top: 0px;
  z-index: 999;
  width: 100%;
  height: 4em;
  padding-top: 1em;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: 0px;
  padding-bottom: 6px;
	overflow: auto;
	text-rendering: optimizeLegibility;
	letter-spacing:1px;
	color:#3b3b3b;
	-webkit-font-smoothing: antialiased;
	// font-family: "Source Sans Pro","Open Sans","Helvetica Neue","Arial",sans-serif;
	font-family: "Source Sans Pro","Open Sans","Helvetica Neue","Arial",sans-serif;
	font-size:16px;
	font-weight:700;
	text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid gainsboro;
}
.site-header-transparent{
  background-color: rgba(255, 255, 255, 0.10);
  border-bottom: 1px solid rgba(255,255,255,0.10);
}
.site-header h1{
	font-size: 18px;
	letter-spacing: 2px;
	font-family: "Open Sans","Helvetica Neue","Arial",sans-serif;
	font-weight: 700;
	text-align:center;
}
.site-header a,
.site-header a:visited,
.site-header a:active{
	color: #3b3b3b;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out
}
.site-header a.is-current{
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
}
.line-container {
  position: relative;
  width: 100%;
  padding: 0;
}
.line a.is-current{
  margin: 0 auto;
  width: 100%;
  @include media($mobile) {
	  border-bottom: white 2px solid;
  }
  @include media($tablet) {
	  border-bottom: white 2px solid;
  }
  @include media($screen) {
	  border-bottom: #BBBBBB 2px solid;
  }  
  @include media($large-screen) {
	  border-bottom: #BBBBBB 2px solid;
  }
}
.site-header a:hover{
	color:#DB4632;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out
}
img .header-image{
	max-width: 16px;
	max-height: 16px;
	position: absolute;
}
.site-header img{
	max-height: 16px;
	max-width: 16px;
	position: absolute;
}
.site-name{
	float: left;
	margin: 0;
	margin: 5px 0 0 0;
	padding: 0 0 0 5vw;
	white-space: nowrap;
}
.nav-overlay {
  // @include media($tablet, $mobile) {
  height: 100%;
  width: 100%;
  background-color: rgba(219,70,50, 0.95);
  // };
}
.nav-overlay .mobile-toggle {
  // transform: rotate(-90deg);
  // -webkit-transform: rotate(-90deg);
}
.nav-overlay a,
.nav-overlay a:visited,
.nav-overlay a:active{
	color: rgb(255,255,255);
}
.nav-overlay a.is-current{
	// text-decoration: underline;
}
.nav-overlay a:hover{
	color: #3b3b3b;
}
.nav-links{
	@include media($tablet, $mobile) {

	}
	@include media($screen) {
		right: 0;
		margin: 0;
		padding: 0 5vw;
	}
	@include media($large-screen) {
		right: 0;
		margin: 0;
		padding: 0 5vw;
	}
}
.nav-links.is-closed-for-mobile{
	display: none;
	@include media($screen) {
		display: block;
	}
}
.nav-links.is-open-for-mobile{
	// @include media($tablet, $mobile) {
	margin-top: 45%;
	// }
}
.nav-links ul{
	// @include media($tablet, $mobile) {
	display: block;
	padding: 0;
	// }
	@include media($screen) {
		float: right;
		margin:3px 0 0 0;
	}
	@include media($large-screen) {
		float: right;
		margin:3px 0 0 0;
	}
}
.nav-links li{
	display: block;
	text-align: center;
	margin-bottom: 1em;
	@include media($tablet) {
		display: block;
		text-align: center;
		margin-bottom: 1em;
	}
	@include media($screen) {
		display:inline-block;
		margin: 0 0 0 2em;
		padding: 0;
		top: 2px;
	}
	@include media($large-screen) {
		display:inline-block;
		margin: 0 0 0 2em;
		padding: 0;
		top: 2px;
	}
}
.mobile-toggle {
	display: block;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 5vw;
  top: 1.2em;
  width: 20px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
	@include media($screen) {
	  display: none;
	}
}
.mobile-toggle span {
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
  border-radius: 1000px;
  background-color: #3b3b3b;
  display: block;
}
.nav-overlay .mobile-toggle span,
.nav-overlay .mobile-toggle span:visited,
.nav-overlay .mobile-toggle span.is-current,
.nav-overlay .mobile-toggle span:active {
	background-color: rgb(255,255,255);
	-webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-overlay .mobile-toggle:hover{
	// span {
	// 	background-color: #3b3b3b;
	// }
}