/* HEADER ------------------------------------------------------------------------------*/

.site-header{
  position: fixed;
  top: 0px;
  z-index: 999;
  width: 100%;
  // max-height: 70px;
  height: 4em;
  padding-top: 1em;
  overflow: hidden;
  // -webkit-transition: all 0.3s;
  // transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: 0px;
  padding-bottom: 6px;
	overflow: auto;
	text-rendering: optimizeLegibility;
	letter-spacing:1px;
	color:#3b3b3b;
	-webkit-font-smoothing: antialiased;
	font-family: "Source Sans Pro","Open Sans","Helvetica Neue","Arial",sans-serif;
	font-size:16px;
	font-weight:700;
	text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid gainsboro;
}
.site-header h1{
	font-size: 18px;
	letter-spacing: 2px;
	font-family: "Source Sans Pro","Open Sans","Helvetica Neue","Arial",sans-serif;
	font-weight: 700;
	text-align:center;
}
.site-header a,
.site-header a:visited,
// .site-header a.is-current,
.site-header a:active{
	color: #3b3b3b;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out
}
.site-header a.is-current{
	// color:#DB4632;
	// text-decoration: underline;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	// .line-container {
	//   position: relative;
	//   width: 100%;
	//   padding: 0;
	// }
	// .line {
	//   margin: 0 auto;
	//   // width: 50%;
	//   width: 100%;
	//   border-bottom: #BBBBBB 2px solid;
	// }
}
.line-container {
  position: relative;
  width: 100%;
  padding: 0;
}
.line a.is-current{
  margin: 0 auto;
  // width: 50%;
  width: 100%;
  border-bottom: #BBBBBB 2px solid;
}
// .line a:hover{
//   margin: 0 auto;
//   // width: 50%;
//   width: 100%;
//   border-bottom: #BBBBBB 2px solid;
// }
.site-header a:hover{
	color:#DB4632;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out
}
img .header-image{
	max-width: 16px;
	max-height: 16px;
	position: absolute;
}
.site-header img{
	max-height: 16px;
	max-width: 16px;
	position: absolute;
}
.site-name{
	float: left;
	margin: 0;
	margin: 5px 0 0 0;
	padding: 0 0 0 5vw;
	white-space: nowrap;
}
.nav-overlay {
  @include media($tablet, $mobile) {
	  // max-height: 400px !important;
	  // display: table;
	  height: 100%;
	  width: 100%;
	  // color: rgb(255,255,255);
	  background-color: rgba(219,70,50, 0.95);
	  // margin-bottom: auto;
	  // height: 400px;
	  // height: 800px;
	  // -webkit-transition: all 0.3s;
	  // transition: all 0.3s;
  	// height: calc( 100% + 200px );
  	// height: calc( 120% );
  };
}
.nav-overlay .mobile-toggle {
  // transform: rotate(-90deg);
  // -webkit-transform: rotate(-90deg);
}
.nav-overlay a,
.nav-overlay a:visited,
// .nav-overlay a.is-current,
.nav-overlay a:active{
	color: rgb(255,255,255);
}
.nav-overlay a.is-current{
	text-decoration: underline;
}
.nav-overlay a:hover{
	color: #3b3b3b;
}
.nav-links{
	// width: 100%;
	@include media($screen) {
		// float: right;
		right: 0;
		margin: 0;
		padding: 0 5vw;
	}
	@include media($tablet, $mobile) {
		// display: table-cell;
		// width: 100%;
		// width: 766px;
		// margin: 0;
		// width: border-box;
		// display: table-cell;
	 //  vertical-align: middle; 
	 //  text-align: center;
		// display: block;
		// position: relative;
		// margin-right: auto;
		// margin-left: auto;	
		// margin: auto;
		// margin-top: 10em;	
	}
}
.nav-links.is-closed-for-mobile{
	@include media($tablet, $mobile) {
		display: none;
	}
}
.nav-links.is-open-for-mobile{
	@include media($tablet, $mobile) {
		// display: table-cell;
	 //  vertical-align: middle; 
	  // text-align: center; 
	  // margin: auto;
	  // margin-left: auto;
	  // margin-right: auto;
		// display: block;
		// display: table;
		// margin-top: 10em;
		// margin-top: 20em;
		// margin-top: 30%;
		margin-top: 45%;
		// height: 100%;
		// width: 100%;
	}
}
.nav-links ul{
	@include media($screen) {
		// display: block;
		// display: inline-block;
		float: right;
		// right: 0;
		// padding:0;
		margin:3px 0 0 0;
		// margin:0 0 0 0;
	}
	@include media($tablet, $mobile) {
		display: block;
		// margin: 0;
		padding: 0;

	}
}
@include media($screen) {
	.nav-links li{
		display:inline-block;
		margin: 0 0 0 2em;
		padding: 0;
		top: 2px;
	}
}
@include media($tablet, $mobile) {
	.nav-links li {
		// position: relative;
		display: block;
		// display: none;
		text-align: center;
		margin-bottom: 1em;
		// width: 100%;
	}
}
.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  // color: white;
  // right: 22px;
  right: 5vw;
  top: 1.2em;
  width: 20px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  @include media($tablet) {
  	display: block;
  }
  @include media($mobile) {
  	display: block;
  }
}
.mobile-toggle span {
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
  border-radius: 1000px;
  // background: #8f8f8f;
  background-color: #3b3b3b;
  display: block;
}
// .nav-overlay a,
// .nav-overlay a:visited,
// .nav-overlay a.is-current,
// .nav-overlay a:active{
.nav-overlay .mobile-toggle span,
.nav-overlay .mobile-toggle span:visited,
.nav-overlay .mobile-toggle span.is-current,
.nav-overlay .mobile-toggle span:active {
	background-color: rgb(255,255,255);
	-webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-overlay .mobile-toggle:hover{
	// span {
	// 	background-color: #3b3b3b;
	// }
}