// LAYOUT - LANDING PAGE: OVERALL ----------------------------------------------------------------------------------------------------------------

#landing-page p{
	// text-align: left;
}
#landing-page section{
	@include media($mobile) {
		padding: 4em 1em;
	}
	padding: 10em 0;
}
.container{
	@include outer-container();
}

// LAYOUT - LANDING PAGE: HERO SECTION
section#hero-home{
	background: #DB4632;
	display: block;
	height: 100vh;
	overflow: hidden;
	padding: 0;
}

// LAYOUT - LANDING PAGE: PRINCIPLES SECTION
section#principles{
}
#principles h2{
	font-size: 1.5em;
	// margin-bottom: 2em;
}
#principles ul{
	margin: 3em 0 0 0;
	padding-left: 0;
}
#principles li{
	@include span-columns(6);
	font-size: 0.8em;
	margin: 0 0 2em 0;
	text-align: center;
	@include media($tablet) {
		@include span-columns(12);
		font-size: 1.5em;
		// @include span-columns(2);
	}
}
#principles a{
	color: $dark-gray;
}
#principles a:hover{
	color: $red;
}

// LAYOUT - LANDING PAGE: USER FOCUSED
section#user-focused{
	padding: 0;
}
#user-focused .container{
	padding: 4em 0;
	@include media($tablet) {
		padding: 10em 0;
	}
}
#user-focused .column-1{
	@include span-columns(12);
	padding: 0 1em;
	overflow: auto;
  margin-bottom: $base-line-height;
  // text-align: center;
	@include media($tablet) {
		@include span-columns(6);
		// text-align: left;
	}
}
#user-focused .column-2{
}

// LAYOUT - LANDING PAGE: CONTENT DRIVEN
section#content-driven{
}
#content-driven .column-1{
	@include span-columns(12);
	@include media($tablet) {
		@include span-columns(6);
	}
}
#content-driven .column-2{
	@include span-columns(12);
	@include media($tablet) {
		@include span-columns(6);
	}
}

// LAYOUT - LANDING PAGE: RESPONSIVE
section#responsive{
	@include texture(180deg, lighten($red, 1), darken($red, 10),67, 1);
}
#responsive{
	// @include outer-container();
}
#responsive .column-1{
	@include span-columns(12);
	@include shift(0);
	margin: 0 0 2em 0;
	@include media($tablet) {
		@include span-columns(5);
		@include shift(7);
		margin: 0;
	}
}
#responsive .column-2{
	@include span-columns(12);
	@include shift(0);
	text-align: center;
	@include media($tablet) {
		@include span-columns(7);
		@include shift(-12);
	}
}
#responsive h2{
	margin-top: 0;
	padding-top: 0;
	text-align: left;
}

// LAYOUT - LANDING PAGE: FUTURE FRIENDLY
section#future-friendly{

}
#future-friendly .column-1{
	@include span-columns(12);
	@include media($tablet) {
		@include span-columns(6);
	}
}
#future-friendly .column-2{
	@include span-columns(12);
	@include media($tablet) {
		@include span-columns(6);
		// height: 400px;
	}
}
#future-chart{
	display: block;
	height: 100%;
	margin: 3em auto;
	width: 100%;
}
#future-friendly figcaption{
	color: #16161d;
	font-family: 'Open Sans Condensed', adobe-caslon-pro, sans-serif;
	font-size: 0.7em;
	font-weight: 300;
}

// LAYOUT - LANDING PAGE: CONTACT
#contact{
	background:
		linear-gradient(
			rgba(35,35,35,0.6),
			rgba(35,35,35,0.6)
		),
		url('/img/russian_typewriter.jpg');
	background-position: center;
	background-size: cover;
}
#contact .container{
	text-align: center;	
}
.contact-button{
	@extend button;
	margin: 0 auto;
}