/* LAYOUT ------------------------------------------------------------------------------*/

.wrap{
	max-width: 100vw;
	margin: 0;
	padding: 0;	
}
.body-wrap{
	margin: 6em 0 0 0;
	// height: 12000px;
	// position: relative;
	// top: 100px;
	// @include outer-container;
}
.landing-page h2{
	border: none;
	// font-family: 'Arvo';
	font-family: 'Open Sans';
	font-size: 3em;
	// font-style: italic;
	// font-weight: 400;
	font-weight: 700;
	// letter-spacing: 2px;
	// margin-bottom: 5em;
	text-align: center;
}
.landing-page p{
	text-align: left;
}
.hero-home{
	background: #DB4632;
	// bottom: 0;
	// display: block;
	// position: relative;
	// height: 100%;
}

#particles-js{
	// @include media($mobile) {
	// 	display: none;
	// }
	// @include outer-container();
	background: #DB4632;
	display: block;
	// height: 100%;
	min-height: 100%;
	// padding: 6em 0 0 0;
	// max-width: 800px;
	// position: absolute;
	// position: relative;
	// top: 0;
	width: 100%;
	// z-index: -1;
}
#particle-js canvas{
	height: 100%;
	z-index: -1;
}
	

.hero-overlay{
	// @include outer-container();
	display: block;
	// height: 100%;
	// margin: 0 auto;
	// max-width: 800px;
	// padding: 6em 0 0 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	// width: 800px;
	width: 100%;
	z-index: 5;

}
.text-overlay{
	// color: #fff;
	margin: 0 auto;
	padding-top: 16em;
	width: 800px;
}
.text-overlay header{
	font-family: 'Open Sans';
	font-size: 3em;
	font-weight: 700;
}
.text-overlay h1{
	// color: #044959;
	font-family: "Arvo";
	font-family: "Open Sans";
	// font-size: 0.5em;
	// font-style: italic;
	font-weight: 400;
	// margin-bottom: 2em;
}
.text-overlay em{
	// color: #044959;
	font-family: 'Arvo';
	font-style: normal;
	font-weight: 700;
}
.text-overlay span{
	font-family: 'Arvo';
	// font-style: italic;
	font-weight: 400;
}
.text-overlay strong{
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	letter-spacing: 2px;
}
.point-down{
	bottom: 0;
	color: $base-font-color;
	display: block;
	position: absolute;
	text-align: center;
	width: 100%;
}
#principles{
	// @include outer-container();
	// background: $base-font-color;
	// background: #606060;
	// background: #F06B59;
	// color: #eee;
	// color: $base-link-color;
	padding-bottom: 8em;
	padding-top: 5em;
}
.container{
	@include outer-container();
}
// #principles .iconic-person-female *,
// #principles .iconic-image-landscape *,
// #principles .iconic-iphone *,
// #principles .iconic-timer * {
// 	fill: #fff;
// 	stroke: #fff;
// }
#principles h2{
	// border: none;
	// color: #eee;
	// color: $base-link-color;
	// // font-family: 'Arvo';
	// font-family: 'Open Sans';
	font-size: 2em;
	// // font-style: italic;
	// // font-weight: 400;
	// font-weight: 700;
	// // letter-spacing: 2px;
	margin-bottom: 2em;
	// text-align: center;

}
#principles ul{
	padding-left: 0;
}
#principles li{
	@include span-columns(3);
	font-size: 1.5em;
	text-align: center;
}
#principles a{
	// color: $darkgrey;
	color: #3b3b3b;
}
#principles a:hover{
	color: $red;
}
#user-focused .container{
	padding-top: 10em;
	padding-bottom: 8em;
}
#user-focused .column-1{
	// @include row();
	@include span-columns(6);
	// @include shift(7);
	// text-align: left;
	overflow: auto;
  margin-bottom: $base-line-height;

}
#user-focused .column-2{

}
#user-focused h2{
	// display: inline-block;
	// margin-top: 1em;
	// margin-top: 0;
  // font-size: $icon-bullet-size /2.5;
  // padding-top: $icon-bullet-size /7;
  // padding-top: 0.1em;
  // margin-bottom: $icon-bullet-size /6;
  // border-bottom: 1px solid transparentize($base-font-color, .8);
}
#user-focused p{
	color: $base-font-color;
}
$icon-bullet-size: 3.5em;
.bullet-icon {
  border-radius: 50%;
  // border: solid 1px rgba(35,35,35,0.5);
  // background: rgba(255,255,255,0.7);
  // color: $base-font-color;
  display: inline-block;
  float: left;
  height: $icon-bullet-size;
  padding: $icon-bullet-size /4;
  width: $icon-bullet-size;
}
.center-icon {
  // float: left;
  // background: rgba(255,255,255,0.7);
  // color: $base-font-color;
  // display: inline-block;
  padding: $icon-bullet-size /4;
  border-radius: 50%;
  // border: solid 1px $base-font-color;
  // border: solid 1px rgba(35,35,35,0.5);
  // text-align: center;
  margin: 0 auto;
  width: $icon-bullet-size;
  height: $icon-bullet-size;
}
.bullet-content {
	h2{
		display: inline-block;
		font-size: 2.5em;
		margin-bottom: $icon-bullet-size /6;
	  margin-top: 0;
	  padding-top: 0.1em;
		text-align: left;
	};
  margin-left: $icon-bullet-size *1.4;
  margin-bottom: 2em;
}
.center-content {
	h2{
		// display: inline-block;
		font-size: 2.5em;
		margin-bottom: $icon-bullet-size /6;
	  margin-top: 0.3em;
	  padding-top: 0.1em;
		text-align: center;
	};
  // margin-left: $icon-bullet-size *1.4;
  // margin-bottom: 2em;
}
// .section-icon{
// 	float: left;
// 	// text-align: left;
// }
#content-driven{
	@include outer-container();
	margin-bottom: 8em;
	margin-top: 8em;
}
#content-driven .column-1{
	@include span-columns(6);
	@include shift(6);
}
#content-driven .column-2{
	@include span-columns(6);
	@include shift(-12);
}

$browser-top-bar-height: 1.5em;
$browser-circle-size: .5em; 
$browser-circle-margin: ($browser-top-bar-height - $browser-circle-size) / 2;
$browser-top-bar-background: lighten(#DFDFDF, 5);
$browser-border: 0px;
$browser-background: $base-background-color;
$browser-content-background-1: #F0F0F0;
$browser-content-background-2: $base-background-color;
$browser-content-background-3: #F0F0F0;

.browsers {
  display:inline-block;
  padding-top: 0;
  text-align:center;
  width:100%;

  @include media($large-screen) {
    padding-top: 2em;
    padding-top: 1.2em;
  }
}

.browser-top-bar {
  @include linear-gradient($browser-top-bar-background, darken($browser-top-bar-background, 2));
  border-top-left-radius: $base-border-radius;
  border-top-right-radius: $base-border-radius;
  border: $browser-border;
  box-shadow: inset 0 1px 0 transparentize(white, .6);
  height: $browser-top-bar-height;
  width: 100%;
}

.browser-circle {
  border-radius: $browser-circle-size * 2;
  box-shadow: 0 1px 0px transparentize(white, .5), inset 0 1px 1px transparentize(black, 0.8);
  display: inline-block;
  @include size($browser-circle-size);
  margin: $browser-circle-margin 0;
}

.browser-circle:nth-child(1) {
  background: #FF6F55;
  margin-left: $browser-circle-margin;
}

.browser-circle:nth-child(2) {
  background: #F5B01D;
  margin-left: $browser-circle-margin / 3;
}

.browser-circle:nth-child(3) {
  background: #51B151;
  margin-left: $browser-circle-margin / 3;
}

//////////////////////////////////////////////

.browser {
  @include transform(scale(1));
  background-color: $browser-content-background-2;
  border-bottom: none;
  border-top-left-radius: $base-border-radius;
  border-top-right-radius: $base-border-radius;
  box-shadow: 0 3px 5px transparentize(black, .7);
  display: inline-block;    
  text-align: left;
  width: 90%;
  
  @include media($large-screen) {
    @include transform(scale(1.2));
    width: 80%;
  }

  .browser-content {
    background: url(/img/user_smartphone.jpg);
    background-color: $browser-content-background-2; 
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    // display: block;
    @include media($large-screen) {
      height: 10em;
    }
  }
}

.cover {
  background: $base-background-color;
  border-top: 1px solid #E6E6E6;
  height: 3.5em;
  margin-top: -1em;
  position: relative;
  width: 100%;
  z-index: 999;
}

#responsive{
	@include texture(180deg, lighten($red, 1), darken($red, 10),67, 1);
	// background: grey;
	// background: lightgray;
	// background: rgba(151,187,205,1);
	// background: #755B4A;
	// background: #6BDF86;
	// background: #DB4632;
	// background: #88E6FC;
	// background: #BDE9FF;
	// background: #FFC286;
	// background: #F06B59;
	padding-bottom: 8em;
	padding-top: 8em;
}
#responsive .container{
	@include outer-container();

}
#responsive .column-1{
	@include span-columns(5);
	@include shift(7);
}
#responsive .column-2{
	@include span-columns(7);
	@include shift(-12);
}
#responsive h2{
	margin-top: 0;
	padding-top: 0;
	text-align: left;
}
#responsive .iconic-laptop-base *,
#responsive .iconic-laptop-screen-border *,
#responsive .iconic-tablet-body *,
#responsive .iconic-iphone-body * {
	fill: $base-font-color;
	stroke: $base-font-color;
	// height: 256px;
	// width: 256px;
}
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.iphone,
.tablet,
.laptop{
	display: inline-block;
	// @extend %vertical-align;
}
.iphone,
.tablet{
	// margin: 0 0 80px 0;
	@extend %vertical-align;
}
.laptop{
	margin: 0 1em;
}
#future-friendly{
	padding-bottom: 8em;
	padding-top: 10em;
}
#future-friendly .container{
	@include outer-container();

}
#future-friendly .column-1{
	@include span-columns(6);
}
#future-friendly .column-2{
	@include span-columns(6);
	// @include shift(-12);
	height: 400px;
}
#future-chart{
	display: block;
	// height: 400px;
	height: 100%;
	margin: 3em auto;
	// width: 400px;
	width: 100%;
}
#future-friendly figcaption{
	color: #16161d;
	font-family: 'Open Sans Condensed', adobe-caslon-pro, sans-serif;
	font-size: 0.7em;
	font-weight: 300;
	// text-align: center;
	// span{
	// }
}
.skills{
	background: #DB4632;
	padding-bottom: 8em;
	padding-top: 8em;
}
.skills .container{
	@include outer-container();
}
.contact{
	background: #DB4632;
	// background: #755B4A;
	background:
		linear-gradient(
			rgba(35,35,35,0.6),
			rgba(35,35,35,0.6)
		),
		// url('/img/LoveLetter.jpg');
		url('/img/russian_typewriter.jpg');
	background-position: center;
	background-size: cover;
	padding-bottom: 5em;
	padding-top: 5em;
}
.contact .container{
	text-align: center;	

}
.contact-button{
	@extend button;
	// background: #fff;
	// color: #3b3b3b;
	// display: inline-block;
	margin: 0 auto;
	// text-align: center;
}
.social-links{
	width: 1em;
	text-align: center;
	margin: auto;
}
.social-links a,
.social-links a:visited,
.social-links a.is-current,
.social-links a:active{
	color: #3b3b3b;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out
}
.social-links a:hover{
	color:#DB4632;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out
}