/* PROJECTS ------------------------------------------------------------------------------*/
body{
	background: #E6E6E6;
	
}
.project-wrap{
	@include outer-container;
	@include media($screen) {
		position: relative;
		top: 40px;
	};
}
.project{
	@include span-columns(10);
	@include shift(1);
}
.project-title{
	color: #3b3b3b;
	margin: 0 auto;
	padding-top: 16.5px;
	margin-bottom: 16.5px;
	line-height: 1.25em;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: "Source Sans Pro","Open Sans","Helvetica Neue","Arial",sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
}
.project-title a,
.project-title a.is-current,
.project-title a:visited{
	color: #3b3b3b;
}
.project-title a:active,
.project-title a:hover{
	color:#DB4632;
}
.project-shot {
	margin: 0 0 16.5px 0;
}
.project-overlay{
	@include media($screen) {
		position: absolute;
		padding: 1em 0.9em;
		transition: 0.25s;
		color: transparent;
		line-height: 1.5em;
		font-size: 22px;
		letter-spacing: 2px;
		font-family: "Merriweather", "Georgia", serif;
		font-weight: 300;
	};
	@include media($tablet, $mobile) {
		position: absolute;
		display: none;
	};
}
.project-overlay p{
	margin: 0;

	@include media($tablet, $mobile) {
		display: none;
	}
}
.project-overlay a,
.project-overlay a.is-current,
.project-overlay a:visited{
	// color: #3b3b3b;
	color: transparent;
	// font-weight: 400;
}
.project-overlay a:active,
.project-overlay a:hover{
	// color:#DB4632;
	// color:transparent;
}
.project-overlay:hover{
	background-color:#DB4632;
	color: white;
	opacity: 0.95;
	@include media($mobile, $screen) {
		background-color: transparent;
	}
}
.project-overlay:hover a{
	line-height: 1.5em;
}
.project-overlay:hover a,
.project-overlay:hover a.is-current,
.project-overlay:hover a:visited{
	color: #3b3b3b;
	font-weight: 300;
}
.project-overlay:hover a:active,
.project-overlay:hover a:hover{
	// color: #454545;
	color: white;
}
.project-caption{
	@include media($tablet, $mobile) {
		transition: 0.25s;
		color: #3b3b3b;
		line-height: 1.5em;
		font-size: 16px;
		letter-spacing: 2px;
		font-family: "Merriweather", "Georgia", serif;
		font-weight: 300;
		padding-bottom: 1em;
		border-bottom: 1px solid rgba(141,141,141,0.5);
	};
	@include media($screen) {
		display: none;
	};
}
.project-caption.is-visible{
	@include media($tablet, $mobile) {
		display: block;
	};
}
.project-caption.is-hidden {
	@include media($tablet, $mobile) {
		display: none;
	};
}
.l-side-column{
	@include media($screen) {
		@include span-columns(4);
		@include shift(8);
	}
}
.l-main-column{
	@include media($screen) {
		@include span-columns(8);
		@include shift(-12);
	}
}
.l-mobile-column{
	@include media($screen) {
		@include span-columns(3 of 8);
	}
}
.l-desktop-column{
	@include media($screen) {
		@include span-columns(5 of 8);
		@include omega();
	}
}
.l-features-column{
	@include media($screen) {
		@include span-columns(8 of 8);
	}
}
.l-features-column-sub-1 {
	@include media($screen) {
		@include span-columns(4 of 8);
	}
}
.l-features-column-sub-2 {
	@include media($screen) {
		@include span-columns(4 of 8);
	}
}
.heading-bar{
	background: #9C9C9C;
	padding: 0.5em;

}
.heading-icon{
	// display: inline-block;
	// display: inline;
	// float: left;
	line-height: 0;
	background: #D8D8D8;
	// width: 1.75em;
	// height: 1.75em;
	padding: 1em;
	margin: 0;
	// margin: 10px 10px 2px 10px;

}
.project-wrap {
	h1{
		font-family: 'Open Sans', sans-serif;
		// font-weight: 700;
		font-weight: 400;
		// font-size: 1em;
		font-size: 1.5em;
		text-align: left;
		margin-bottom: 0;
	}
	h2{
		display: inline;
		// display: inline-block;
		// float: left;
		font-family: 'Open Sans',sans-serif;
		font-weight: 400;
		font-size: 1em;
		// line-height: 1em;
		line-height: 0;
		color: #D8D8D8;
		margin: 0;
		border-bottom: none;
	}
}
.title-details{
	// background: white;
	background: #fdfdfd;
	padding: 0.5em 1em;
	// @include pad(padding-right);
}
.title-details .site-link{
	font-size: 0.8em;
	font-weight: 700;
}
.title-details .project-author{
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 1em;
}
.share{
	background: white;
	padding: 0.5em 1em;
	margin: 1.5em 0 0 0;
}
.share h2{
	display: block;
	font-weight: 400;
	color: #9c9c9c;
	margin: 1em 0 0 0;
}
.about-project{
	background: white;
	padding: 0.5em 1em;
	margin: 1.5em 0 0 0;
}
.about-project h2{
	display: block;
	font-weight: 400;
	color: #9c9c9c;
	margin: 1em 0 0 0;
}
