.project-wrap{
	@include outer-container;
	@include media($screen) {
		position: relative;
		top: 40px;
		// top: 100px;
	};
}
.project{
	@include span-columns(10);
	@include shift(1);
}
.project-title{
	color: #3b3b3b;
	margin: 0 auto;
	padding-top: 16.5px;
	margin-bottom: 16.5px;
	line-height: 1.25em;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: "Source Sans Pro","Open Sans","Helvetica Neue","Arial",sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
}
.project-title a,
.project-title a.is-current,
.project-title a:visited{
	color: #3b3b3b;
}
.project-title a:active,
.project-title a:hover{
	color:#DB4632;
}
.project-shot {
	margin: 0 0 16.5px 0;
	// @include media($mobile, $tablet) {
	// 	position: absolute;
	// }
}
.project-overlay{
	@include media($screen) {
		position: absolute;
		// z-index: 10;
		padding: 1em 0.9em;
		transition: 0.25s;
		color: transparent;
		line-height: 1.5em;
		font-size: 22px;
		letter-spacing: 2px;
		font-family: "Merriweather", "Georgia", serif;
		font-weight: 300;
	};
	@include media($tablet, $mobile) {
		position: absolute;
		// z-index: 9999;

		display: none;
	};
}
.project-overlay p{
	margin: 0;
	@include media($tablet, $mobile) {
		display: none;
		// font-size: 10px;
		// line-height: 1.5em;
	}
}
.project-overlay a,
.project-overlay a.is-current,
.project-overlay a:visited{
	// color: #3b3b3b;
	color: transparent;
}
.project-overlay a:active,
.project-overlay a:hover{
	// color:#DB4632;
	color:transparent;
}
.project-overlay:hover{
	background-color:#DB4632;
	color: white;
	opacity: 0.95;
	@include media($mobile, $screen) {
		background-color: transparent;
	}
}
.project-overlay:hover a{
	line-height: 1.5em;
}
.project-overlay:hover a,
.project-overlay:hover a.is-current,
.project-overlay:hover a:visited{
	// color:#DB4632;
	color: #3b3b3b;
}
.project-overlay:hover a:active,
.project-overlay:hover a:hover{
	color: white;
}
.project-caption{
	@include media($tablet, $mobile) {
		// padding: 1em;
		transition: 0.25s;
		color: #3b3b3b;
		line-height: 1.5em;
		font-size: 16px;
		letter-spacing: 2px;
		font-family: "Merriweather", "Georgia", serif;
		font-weight: 300;
		padding-bottom: 1em;
		border-bottom: 1px solid rgba(141,141,141,0.5);
		// border-bottom-width: 10em;
	};
	@include media($screen) {
		display: none;
	};
}
.project-caption.is-visible{
	@include media($tablet, $mobile) {
		display: block;
	};
}
.project-caption.is-hidden {
	@include media($tablet, $mobile) {
		display: none;
		// position: absolute;
		// top: 0;
		// left: 0;
		// height: 100%;
		// width: 100%;
	};
}
// .project-caption.is-hidden p{
// 	@include media($mobile, $tablet) {
// 		display: none;
// 	};
// }