<div class="project">
  <h2 class="project-title">
    <!-- <a class="header" href="{{ post.meta.link }}">{{ post.title }}</a> -->
    <a class="header" href="{{ post.taxonomy['sitelink'] }}" target="_blank">{{ post.title }}</a>
  </h2>
  <div class="project-shot">
  	<div class="project-overlay">
			<p>
				{{ post.excerpt }} <!-- Remember to add excerpt to CMS post followed by two empty lines -->
			</p>
  	</div>

      <!-- <a href="{{ post.meta.link }}"> -->
    <a href="{{ post.taxonomy['sitelink'] }}" target="_blank">
      <img src="{{ post.assets.first }}" alt="{{ post.title | escape }}">
    </a>
    <div class="project-caption is-visible"> 
      <p>
        {{ post.excerpt }}
      </p>
    </div>
  </div>
</div>