<div class="project">
  <div class="project-title">
    {{ post.title }}
  </div>
  <div class="hover-tile-outer" style="background-image:url( {{ post.assets.first }} )" alt="{{ post.title | escape }}">
    <div class="hover-tile-container">
      <div class="hover-tile hover-tile-visible">
        <!-- {{ post.title }} -->
      </div>
      <div class="hover-tile hover-tile-hidden">
        <p>{{ post.excerpt }}</p>
<!--         <a href="{{ post.taxonomy['sitelink'] }}" target="_blank">
          {{ post.excerpt }}
        </a> -->
        <a href="{{ post.taxonomy['sitelink'] }}" target="_blank">
          <span class="tile-link"></span>
        </a>
        <!-- <h4>{{ post.title }}</h4> -->
      </div>
    </div>
  </div>

  <div class = "browsers">
    <div class = "browser">
      <div class="browser-top-bar">
        <div class="browser-circle"></div>
        <div class="browser-circle"></div>
        <div class="browser-circle"></div>
      </div>
    <div class="browser-content"></div>
    </div>
    <div class = "browser">
      <div class="browser-top-bar">
        <div class="browser-circle"></div>
        <div class="browser-circle"></div>
        <div class="browser-circle"></div>
      </div>
      <div class="browser-content">
        <p>Hello?</p>
      </div>
    </div>
    <div class = "browser">
      <div class="browser-top-bar">
        <div class="browser-circle"></div>
        <div class="browser-circle"></div>
        <div class="browser-circle"></div>
      </div>
      <div class="browser-content"></div>
    </div>
  </div>

  <div class="cover"></div>

</div>