<div class="project">
  <div class="project-title">
    <a href="{{ post.taxonomy['sitelink'] }}" target="_blank">
      {{ post.title }}
    </a>  
  </div>
  <div class="hover-tile-outer" style="background-image:url( {{ post.assets.first }} ); background-position:{{ post.meta['background_position'] }}" alt="{{ post.title | escape }}">
    <div class="hover-tile-container">
      <div class="hover-tile hover-tile-visible">
        <!-- {{ post.title }} -->
      </div>
      <div class="hover-tile hover-tile-hidden">
        <p>{{ post.excerpt }}</p>
<!--         <a href="{{ post.taxonomy['sitelink'] }}" target="_blank">
          {{ post.excerpt }}
        </a> -->
        <a href="{{ post.taxonomy['sitelink'] }}" target="_blank">
          <span class="tile-link"></span>
        </a>
        <!-- <h4>{{ post.title }}</h4> -->
      </div>
    </div>
  </div>

</div>