@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans:300,400,600,700|Gentium+Book+Basic|Alegreya|Merriweather:300);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #db4632;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #a42d1d;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Source Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gentium Book Basic", "Source Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #333333;
  text-decoration: none; }
  h1 a:hover,
  h2 a:hover,
  h3 a:hover,
  h4 a:hover,
  h5 a:hover,
  h6 a:hover {
    color: #db4632; }
  h1 a:active, h1 a:focus,
  h2 a:active,
  h2 a:focus,
  h3 a:active,
  h3 a:focus,
  h4 a:active,
  h4 a:focus,
  h5 a:active,
  h5 a:focus,
  h6 a:active,
  h6 a:focus {
    color: #db4632;
    outline: none; }

h1 {
  font-size: 45px; }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 54px; } }

h2 {
  font-size: 36px;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  border-bottom: #BFBFBF 1px solid;
  line-height: 1em; }

h3 {
  font-size: 31.5px; }

h4 {
  font-size: 27px; }

h5 {
  font-size: 22.5px; }

h6 {
  font-size: 18px; }

time {
  font-size: 18px;
  font-weight: 600;
  color: #999999; }

p {
  margin: 0 0 0.8em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #db4632;
  text-decoration: none; }
  a:hover {
    color: #a42d1d; }
  a:active, a:focus {
    color: #a42d1d;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.6em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.6em 0;
  padding-left: 0.8em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.8em 0;
  padding: 1.6em; }

input,
label,
select {
  display: block;
  font-family: "Source Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 18px; }

label {
  font-weight: bold;
  margin-bottom: 0.4em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Source Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 0.8em;
  padding: 0.53333em 0.53333em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #db4632;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(207, 57, 36, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.4em; }

input[type="file"] {
  padding-bottom: 0.8em;
  width: 100%; }

select {
  margin-bottom: 1.6em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.8em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.8em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.8em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul {
    list-style-type: disc;
    margin-bottom: 0.8em;
    padding-left: 1.6em; }
dl {
  margin-bottom: 0.8em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.8em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

body {
  display: block;
  margin: 0; }

/*

Style with support for rainbow parens

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 1.25em 2em;
  background: #474949;
  color: #d1d9e1;
  -webkit-text-size-adjust: none; }

.hljs-body,
.hljs-collection {
  color: #d1d9e1; }

.hljs-comment,
.hljs-template_comment,
.diff .hljs-header,
.hljs-doctype,
.lisp .hljs-string,
.hljs-javadoc {
  color: #969896;
  font-style: italic; }

.hljs-keyword,
.clojure .hljs-attribute,
.hljs-winutils,
.javascript .hljs-title,
.hljs-addition,
.css .hljs-tag {
  color: #cc99cc; }

.hljs-number {
  color: #f99157; }

.hljs-command,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula,
.hljs-regexp,
.hljs-hexcolor {
  color: #8abeb7; }

.hljs-title,
.hljs-localvars,
.hljs-function .hljs-title,
.hljs-chunk,
.hljs-decorator,
.hljs-built_in,
.hljs-identifier {
  color: #b5bd68; }

.hljs-class .hljs-keyword {
  color: #f2777a; }

.hljs-variable,
.smalltalk .hljs-number,
.hljs-constant,
.hljs-class .hljs-title,
.hljs-parent,
.haskell .hljs-label,
.hljs-id {
  color: #ffcc66; }

.hljs-tag .hljs-title,
.hljs-rules .hljs-property,
.django .hljs-tag .hljs-keyword {
  font-weight: bold; }

.hljs-attribute {
  color: #81a2be; }

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-shebang,
.hljs-symbol,
.hljs-symbol .hljs-string,
.diff .hljs-change,
.hljs-special,
.hljs-attr_selector,
.hljs-important,
.hljs-subst,
.hljs-cdata {
  color: #f99157; }

.hljs-deletion {
  color: #dc322f; }

.tex .hljs-formula {
  background: #eee8d5; }

/* LAYOUT ------------------------------------------------------------------------------*/
.wrap {
  max-width: 100vw;
  margin: 0;
  padding: 0; }

.body-wrap {
  margin: 6em 0 0 0; }

.social-links {
  width: 1em;
  text-align: center;
  margin: auto; }

.social-links a,
.social-links a:visited,
.social-links a.is-current,
.social-links a:active {
  color: #3b3b3b;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.social-links a:hover {
  color: #DB4632;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

/* HEADER ------------------------------------------------------------------------------*/
.site-header {
  position: fixed;
  top: 0px;
  z-index: 999;
  width: 100%;
  height: 4em;
  padding-top: 1em;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: 0px;
  padding-bottom: 6px;
  overflow: auto;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-family: "Source Sans Pro","Open Sans","Helvetica Neue","Arial",sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid gainsboro; }

.site-header h1 {
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Source Sans Pro","Open Sans","Helvetica Neue","Arial",sans-serif;
  font-weight: 700;
  text-align: center; }

.site-header a,
.site-header a:visited,
.site-header a:active {
  color: #3b3b3b;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.site-header a.is-current {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.line-container {
  position: relative;
  width: 100%;
  padding: 0; }

.line a.is-current {
  margin: 0 auto;
  width: 100%; }
  @media screen and (max-width: 479px) {
    .line a.is-current {
      border-bottom: white 2px solid; } }
  @media screen and (min-width: 480px) {
    .line a.is-current {
      border-bottom: white 2px solid; } }
  @media screen and (min-width: 768px) {
    .line a.is-current {
      border-bottom: #BBBBBB 2px solid; } }
  @media screen and (min-width: 1000px) {
    .line a.is-current {
      border-bottom: #BBBBBB 2px solid; } }

.site-header a:hover {
  color: #DB4632;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

img .header-image {
  max-width: 16px;
  max-height: 16px;
  position: absolute; }

.site-header img {
  max-height: 16px;
  max-width: 16px;
  position: absolute; }

.site-name {
  float: left;
  margin: 0;
  margin: 5px 0 0 0;
  padding: 0 0 0 5vw;
  white-space: nowrap; }

.nav-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(219, 70, 50, 0.95); }

.nav-overlay a,
.nav-overlay a:visited,
.nav-overlay a:active {
  color: white; }

.nav-overlay a:hover {
  color: #3b3b3b; }

@media screen and (min-width: 768px) {
  .nav-links {
    right: 0;
    margin: 0;
    padding: 0 5vw; } }
@media screen and (min-width: 1000px) {
  .nav-links {
    right: 0;
    margin: 0;
    padding: 0 5vw; } }

.nav-links.is-closed-for-mobile {
  display: none; }
  @media screen and (min-width: 768px) {
    .nav-links.is-closed-for-mobile {
      display: block; } }

.nav-links.is-open-for-mobile {
  margin-top: 45%; }

.nav-links ul {
  display: block;
  padding: 0; }
  @media screen and (min-width: 768px) {
    .nav-links ul {
      float: right;
      margin: 3px 0 0 0; } }
  @media screen and (min-width: 1000px) {
    .nav-links ul {
      float: right;
      margin: 3px 0 0 0; } }

.nav-links li {
  display: block;
  text-align: center;
  margin-bottom: 1em; }
  @media screen and (min-width: 480px) {
    .nav-links li {
      display: block;
      text-align: center;
      margin-bottom: 1em; } }
  @media screen and (min-width: 768px) {
    .nav-links li {
      display: inline-block;
      margin: 0 0 0 2em;
      padding: 0;
      top: 2px; } }
  @media screen and (min-width: 1000px) {
    .nav-links li {
      display: inline-block;
      margin: 0 0 0 2em;
      padding: 0;
      top: 2px; } }

.mobile-toggle {
  display: block;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 5vw;
  top: 1.2em;
  width: 20px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }
  @media screen and (min-width: 768px) {
    .mobile-toggle {
      display: none; } }

.mobile-toggle span {
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
  border-radius: 1000px;
  background-color: #3b3b3b;
  display: block; }

.nav-overlay .mobile-toggle span,
.nav-overlay .mobile-toggle span:visited,
.nav-overlay .mobile-toggle span.is-current,
.nav-overlay .mobile-toggle span:active {
  background-color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

/* ABOUT ------------------------------------------------------------------------------*/
.about {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 2.35765% 1em;
  float: none;
  margin-bottom: 5em; }
  .about:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 768px) {
    .about {
      max-width: 768px; } }

/* POSTS ------------------------------------------------------------------------------*/
.post {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  float: none; }
  .post:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 480px) {
    .post {
      padding: 1em 2em; } }
  @media screen and (min-width: 768px) {
    .post {
      padding: 1em 6em; } }
  @media screen and (min-width: 1000px) {
    .post {
      padding: 0 8em;
      float: none; } }

.post-title {
  margin: 0 auto;
  text-align: center; }

time.post-time {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin: 2em 0 2.5em 0; }

.post img {
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.post-sep {
  margin: 0 auto 4.5em auto;
  width: 25%;
  min-width: 50px;
  border: 0;
  border-bottom: 3px solid #dbdbd9; }

.comment-link {
  text-align: center;
  margin: 3em; }

.recent-posts-outer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 1em; }
  .recent-posts-outer:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 480px) {
    .recent-posts-outer {
      padding: 1em 2em; } }
  @media screen and (min-width: 768px) {
    .recent-posts-outer {
      padding: 1em 6em; } }
  @media screen and (min-width: 1000px) {
    .recent-posts-outer {
      padding: 0 8em;
      float: none; } }

li.block {
  margin-bottom: 3em; }
  @media screen and (min-width: 480px) {
    li.block {
      display: inline;
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 48.21067%;
      margin-bottom: 3em; }
      li.block:last-child {
        margin-right: 0; }
      li.block:nth-child(2n) {
        margin-right: 0; }
      li.block:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) {
    li.block {
      display: inline;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-bottom: 3em; }
      li.block:last-child {
        margin-right: 0; }
      li.block:nth-child(2n) {
        margin-right: 0; }
      li.block:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 1000px) {
    li.block {
      display: inline;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-bottom: 3em; }
      li.block:last-child {
        margin-right: 0; }
      li.block:nth-child(2n) {
        margin-right: 0; }
      li.block:nth-child(2n+1) {
        clear: left; } }

.post-tile-image {
  height: 12em;
  background-size: cover; }

.post-tile-text {
  background-color: #eeeeee;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 2.35765% 2.35765% 2.35765%; }
  .post-tile-text:after {
    content: "";
    display: table;
    clear: both; }
  .post-tile-text:hover {
    background-color: #dddddd; }

.post-tile-title {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.post-snippet {
  word-wrap: break-all; }

.recent-posts-outer .hover-tile-outer {
  border: 2px solid #dddddd; }
.recent-posts-outer h3 {
  font-size: 1em;
  color: #333333;
  text-align: left; }

/* PROJECTS ------------------------------------------------------------------------------*/
body.project-index {
  background: #E6E6E6; }

.project-wrap {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .project-wrap:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 768px) {
    .project-wrap {
      margin: 10em auto 0 auto; } }

.project {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  margin-bottom: 3em; }
  .project:last-child {
    margin-right: 0; }

.project-title {
  color: #3b3b3b;
  margin: 0 auto;
  padding-top: 16.5px;
  margin-bottom: 16.5px;
  line-height: 1.25em;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: "Source Sans Pro","Open Sans","Helvetica Neue","Arial",sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left; }

.project-title a,
.project-title a.is-current,
.project-title a:visited {
  color: #3b3b3b; }

.project-title a:active,
.project-title a:hover {
  color: #DB4632; }

.project-shot {
  margin: 0 0 16.5px 0; }

.project-overlay {
  position: absolute;
  display: none; }
  @media screen and (min-width: 768px) {
    .project-overlay {
      position: absolute;
      padding: 1em 0.9em;
      transition: 0.25s;
      color: transparent;
      line-height: 1.5em;
      font-size: 22px;
      letter-spacing: 2px;
      font-family: "Merriweather", "Georgia", serif;
      font-weight: 300; } }

.project-overlay p {
  display: none; }
  @media screen and (min-width: 768px) {
    .project-overlay p {
      margin: 0; } }

.project-overlay a,
.project-overlay a.is-current,
.project-overlay a:visited {
  color: transparent; }

.project-overlay:hover {
  background-color: #DB4632;
  color: white;
  opacity: 0.95; }
  @media screen and (max-width: 479px) {
    .project-overlay:hover {
      background-color: transparent; } }

.project-overlay:hover a {
  line-height: 1.5em; }

.project-overlay:hover a,
.project-overlay:hover a.is-current,
.project-overlay:hover a:visited {
  color: #3b3b3b;
  font-weight: 300; }

.project-overlay:hover a:active,
.project-overlay:hover a:hover {
  color: white; }

@media screen and (min-width: 480px) {
  .project-caption {
    transition: 0.25s;
    padding: 0 0.25em 1em 0.25em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(141, 141, 141, 0.5); } }
@media screen and (min-width: 768px) {
  .project-caption {
    display: none; } }

@media screen and (min-width: 480px) {
  .project-caption.is-visible {
    display: block; } }

@media screen and (min-width: 480px) {
  .project-caption.is-hidden {
    display: none; } }

@media screen and (min-width: 768px) {
  .l-side-column {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 68.23843%; }
    .l-side-column:last-child {
      margin-right: 0; } }

@media screen and (min-width: 768px) {
  .l-main-column {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: -102.35765%; }
    .l-main-column:last-child {
      margin-right: 0; } }

@media screen and (min-width: 768px) {
  .l-mobile-column {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 35.26334%; }
    .l-mobile-column:last-child {
      margin-right: 0; } }

@media screen and (min-width: 768px) {
  .l-desktop-column {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 61.158%;
    margin-right: 0; }
    .l-desktop-column:last-child {
      margin-right: 0; } }

@media screen and (min-width: 768px) {
  .l-features-column {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%; }
    .l-features-column:last-child {
      margin-right: 0; } }

@media screen and (min-width: 768px) {
  .l-features-column-sub-1 {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 48.21067%; }
    .l-features-column-sub-1:last-child {
      margin-right: 0; } }

@media screen and (min-width: 768px) {
  .l-features-column-sub-2 {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 48.21067%; }
    .l-features-column-sub-2:last-child {
      margin-right: 0; } }

.heading-bar {
  background: #9C9C9C;
  padding: 0.5em; }

.heading-icon {
  line-height: 0;
  background: #D8D8D8;
  padding: 1em;
  margin: 0; }

.project-wrap h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  text-align: left;
  margin-bottom: 0; }
.project-wrap h2 {
  display: inline;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 0;
  color: #D8D8D8;
  margin: 0;
  border-bottom: none; }

.title-details {
  background: #fdfdfd;
  padding: 0.5em 1em; }

.title-details .site-link {
  font-size: 0.8em;
  font-weight: 700; }

.title-details .project-author {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 1em; }

.share {
  background: white;
  padding: 0.5em 1em;
  margin: 1.5em 0 0 0; }

.share h2 {
  display: block;
  font-weight: 400;
  color: #9c9c9c;
  margin: 1em 0 0 0; }

.about-project {
  background: white;
  padding: 0.5em 1em;
  margin: 1.5em 0 0 0; }

.about-project h2 {
  display: block;
  font-weight: 400;
  color: #9c9c9c;
  margin: 1em 0 0 0; }

.hover-tile-outer {
  position: relative;
  background-position: center;
  background-size: cover;
  border: 1px solid #dddddd;
  height: 12em;
  margin-bottom: 1.6;
  cursor: pointer; }
  .hover-tile-outer .hover-tile-container {
    display: none;
    height: 12em;
    overflow: hidden; }
    @media screen and (min-width: 768px) {
      .hover-tile-outer .hover-tile-container {
        display: block; } }
  .hover-tile-outer .hover-tile-container:hover > .hover-tile {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%); }
  .hover-tile-outer .hover-tile {
    -webkit-transition: all, 0.2s ease-in-out;
    -moz-transition: all, 0.2s ease-in-out;
    transition: all, 0.2s ease-in-out;
    background: inherit;
    color: white;
    height: inherit;
    padding: 1em 1.5em; }
  .hover-tile-outer .hover-tile-visible {
    color: rgba(255, 255, 255, 0.7);
    font-size: 2em;
    font-weight: 200;
    padding-top: 2.2em;
    text-align: center; }
  .hover-tile-outer a .hover-tile-hidden {
    display: block; }
  .hover-tile-outer .hover-tile-hidden {
    position: relative;
    background: rgba(51, 51, 51, 0.95); }
    @media screen and (min-width: 768px) {
      .hover-tile-outer .hover-tile-hidden {
        padding: 3em 5em; } }
    .hover-tile-outer .hover-tile-hidden h4 {
      margin-bottom: .5em; }
    .hover-tile-outer .hover-tile-hidden p {
      color: rgba(255, 255, 255, 0.7);
      text-align: center; }
  .hover-tile-outer .hover-tile-outer a > span,
  .hover-tile-outer .hover-tile-hidden a > span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.hover-tile-outer a > span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  @media screen and (min-width: 768px) {
    .hover-tile-outer a > span {
      display: none; } }

/* FOOTER ------------------------------------------------------------------------------*/
footer {
  border-top: 1px solid gainsboro;
  color: #999999;
  padding: 2em 0 1em 0;
  background: #F9F9F9;
  text-align: center; }

.footer-image {
  max-width: 128px;
  max-height: 128px;
  margin: 0 auto 1em auto; }

.copyright {
  color: #999999;
  text-align: center;
  font-size: 0.8em; }

@media screen and (max-width: 479px) {
  .triangle-bottomright {
    position: absolute;
    opacity: 0.8;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 50px solid #DB4632;
    border-left: 50px solid transparent; }

  .curvedarrow {
    position: relative;
    opacity: 0.9;
    top: 33px;
    right: 18px;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-right: 9px solid white;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg); }

  .curvedarrow:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 3px solid white;
    border-radius: 20px 0 0 0;
    top: -12px;
    left: -9px;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg); } }
