{% comment %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{site.title}} | Website & Application Development</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/build.css" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
  <link href="{{site.permalink}}/feed.xml" rel="alternate" type="application/rss+xml" title="Justin Brown | Website & Application Development" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/png" href="/favicon.png" />
</head>
<!-- LANDING TEST -->
<body>
  <header class="wrap">
    <div class="site-header site-header-landing">
      <h1 class="site-name">
        <a href="/"> {{ site.title }} </a>
      </h1>

      <div class="mobile-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <nav class="nav-links is-closed-for-mobile">
        <ul>
        {% for page in site.pages %}
          {% if page.title != 'Home' %}
          <li>
            <div class="line-container">
              <div class="line">
                <a href="{{ page.url }}" {% if page.url == url %}class="is-current"{% endif %}>
                {{ page.title }}
                </a>
                
              </div>
            </div>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </nav>
    </div>
  </header>

  <div>
    {{ body }}
  </div>

 <!--  <footer>
    <div class="social-links">
    </div>
    <div class="footer-image">
      <img src="/img/phyllo-sunflower4.png" class="footer-image" style="min-width: 128px"> 
    </div> 
    <span class="copyright">
      &copy; {{ site.date | date: '%Y' }} Justin Brown, all rights reserved
    </span>
  </footer> -->

  <script src="/js/scripts.js"></script>
  <script src="/js/main/blog.js"></script>
</body>
</html>
{% endcomment %}