// MODULE - ICONS ----------------------------------------------------------------------------------------------------------------------------------
$icon-bullet-size: 3.5em;
.bullet-icon {
	margin: 0 auto;
  height: $icon-bullet-size;
  padding: $icon-bullet-size /4;
  width: $icon-bullet-size;
  @include media($tablet) {
	  display: inline-block;
	  float: left;
  }
}
.center-icon {
  padding: $icon-bullet-size /4;
  margin: 0 auto;
  width: $icon-bullet-size;
  height: $icon-bullet-size;
}
.iconic-person-female *,
.iconic-image-landscape *,
.iconic-iphone *,
.iconic-tablet *,
.iconic-laptop *,
.iconic-timer * {
	fill: $base-font-color;
	stroke: $base-font-color;
}

// PERSON
a:hover .iconic-person-female-body,
#user-focused .iconic-person-female-body {
	fill: $red;
}
a:hover .iconic-person-female-head,
#user-focused .iconic-person-female-head {
	fill: gray;
}

// IMAGE
a:hover .iconic-image-landscape-sun,
#content-driven .iconic-image-landscape-sun {
	fill: #fcb400;
}
a:hover .iconic-image-landscape-mountain,
#content-driven .iconic-image-landscape-mountain {
	fill: #b3b3b3;
}
a:hover .iconic-image-landscape-mountain-front,
#content-driven .iconic-image-landscape-mountain-front {
	fill: darkgreen;
}
a:hover .iconic-image-landscape-frame,
#content-driven .iconic-image-landscape-frame {
	stroke: #4d4d4d;
}

// IPHONE
a:hover .iconic-iphone-body, {
	fill: dimgray;
}

// TIMER
a:hover .iconic-timer-needle,
#future-friendly .iconic-timer-needle {
	fill: $red;
}
a:hover .iconic-timer-body,
a:hover .iconic-timer-stop-button,
#future-friendly .iconic-timer-body,
#future-friendly .iconic-timer-stop-button {
	fill: dimgray;
	stroke: dimgray;
}

// RESPONSIVE
.iphone,
.tablet,
.laptop{
	display: inline-block;
}
.iphone,
.tablet{
	@include media($tablet) {
		@include vertical-align;
	}
}
.laptop{
	margin: 0 1em;
}
#responsive .iconic-laptop-base *,
#responsive .iconic-laptop-screen-border *,
#responsive .iconic-tablet-body *,
#responsive .iconic-iphone-body * {
	fill: $base-font-color;
	stroke: $base-font-color;
}

