#particles-js{
	display: none;
	@include media( $tablet ) {
		background: #DB4632;
		display: block;
		height: 105%;
		left: -5%;
		position: relative;
		width: 110%;
	}
}
#particle-js canvas{
	display: none;
	@include media( $tablet ) {
		height: 100%;
		z-index: -1;
	}
}