<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{site.title}} | Website & Application Development</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/build.css" rel="stylesheet">
  <script data-main="/js/main.js" src="/js/require.js"></script>
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
  <link href="{{site.permalink}}/feed.xml" rel="alternate" type="application/rss+xml" title="Justin Brown | Website & Application Development" />
<!--   <meta name="google-site-verification" content="Ayex0c9B8hmB5nRRDuLw-3of0DWfwKWW8e8No1RGe3o" /> -->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/png" href="/favicon.png" />
</head>

<body>
  <header class="wrap">
    <div class="site-header">
<!--       <img src="/img/phyllo-sunflower4.png" class="header-image" style="size: 16px">   -->    
      <!-- <img src="/img/phyllo-black-lg.png" class="header-image" style="size: 16px"> -->
      <h1 class="site-name">
        <a href="/"> {{ site.title }} </a>
      </h1>

      <div class="mobile-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <nav class="nav-links is-closed-for-mobile">
        <ul>
        {% for page in site.pages %}
          {% if page.title != 'Home' %}
          <li>
            <div class="line-container">
              <div class="line">
                <a href="{{ page.url }}" {% if page.url == url %}class="is-current"{% endif %}>
                {{ page.title }}
                </a>
                
              </div>
            </div>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </nav>
    </div>
  </header>

  <div class="body-wrap">
    {{ body }}
  </div>

  <footer class="footer">
    <div class="social-links">
      <!-- <a href="{{site.permalink}}/feed.xml"><img src="img/rss.svg" alt="rss"></a> -->
    </div>
    <!-- </br> -->
    <!-- <img src="img/rss.png" alt="rss"> -->
    <!-- <a href="/"><img class="logo" src="/img/foxy.svg"></a> -->
<!--     <svg>
      <path class="rss" .../>
    </svg> -->
    <div class="footer-image">
      <img src="/img/phyllo-sunflower4.png" class="footer-image" style="min-width: 128px"> 
    </div> 
    &copy; {{ site.date | date: '%Y' }} Justin Brown, all rights reserved
  </footer>

</body>
</html>
